.btn {
  overflow: hidden;
  @include inline-flex();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  height: 43px;
  padding: 0 58px 1px;
  border: none;
  border-radius: 3px;
  color: $btn-color;
  @include Roboto();
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;

  span{
    width: 100%;
    text-align: center;
  }

  svg{
    position: relative;
    top: -1px;
    fill: #fff;
    width: 13px;
    height: 12px;
    vertical-align: middle;
  }

  &_1{
    background-color: $btn-back-1;

    &:hover {
      background-color: $btn-back-hover-1;
    }

    &:active{
      background-color: $btn-back-active-1;
    }

  }

  &_2{
    height: 42px;
    padding: 0 20px;
    font-weight: 500;
    background-color: $btn-back-1;

    &:hover {
      background-color: $btn-back-hover-1;
    }

    &:active{
      background-color: $btn-back-active-1;
    }

  }

  &_3{
    height: 36px;
    padding: 0 20px;
    font-weight: 500;
    background-color: #178fe6;

    &:hover {
      background-color: #339dea;
    }

    &:active{
      background-color: #1c84cf;
    }
  }

  &_4{
    padding: 0 75px 1px;
    background-color: #178fe6;

    &:hover {
      background-color: #339dea;
    }

    &:active{
      background-color: #1c84cf;
    }
  }

}