/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-color: #fff;
$btn-back-1: #ff4c5b;
$btn-back-hover-1: #ff6673;
$btn-back-active-1: #ec4250;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/*-------- site -----------*/
$color-bg-footer: #4c5865;
$color-bg-scroll: #178fe6;
$color-bg-scroll-hover: #339dea;
$color-symbol-scroll: #fff;
$color-footer-links: #949ba3;
$color-footer-links-hover: #fff;
$color-line-footer-menu: #67717c;
$color-phone: #fff;
/*-------- /site ----------*/

/*-------- news -----------*/
$color-bg-news: #ebf1f5;
$color-time-blue: #6699be;
$color-gray-news: #a2a6a8;
$color-title-news: #000;
$color-title-news-hover: $color-bg-scroll;
$color-text-hover: #000;
/*-------- /news ----------*/