.nice-checkbox {
  display: inline-block;
  vertical-align: top;
  user-select: none;

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      color: #969696;

      &:before {
        display: block;
      }
      &:after {
        border-color: #969696;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    position: relative;
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: #b2b2b2;
    min-height: 20px;
    padding: 2px 0 0 29px;
    cursor: pointer;

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 2px solid #d9d9d9;
    }

    &:before {
      display: none;
      top: 7px;
      left: 7px;
      background: #969696;
      width: 6px;
      height: 6px;
      content: '';
    }

  }

}