.system {
	background-color: $color-blue;

	&__wrap {
		position: relative;
		width: 1010px;
		padding: 49px 15px 50px;
		margin: 0 auto;
		background: url(../img/system-bg-shape-1.svg) 2% 100% no-repeat,
								url(../img/system-bg-shape-2.svg) 92.2% 0 no-repeat;
	}

	&__title {
		width: 360px;
		margin-left: 278px;
		color: $color-title-system;
		font-size: 24px;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}

	&__btn.btn {
		position: absolute;
		top: 50%;
		right: 13.6px;
		transform: translateY(-49%);
		padding: 14px 42px;
		text-transform: uppercase;

		svg {
			left: -3px;
			width: 14px;
			height: 14px;
		}
	}

}